/* select elements */

#select-interface-options {
    height: 125px;
    resize: none;
}

#select-language-model-options {
    height: 260px;
    resize: none;
}

#select-symbols-options {
    height: 215px;
    resize: none;
}

#select-submission-options {
    height: 85px;
    resize: none;
}

option {
    padding-inline-start: 3px;
}


/* textarea elements */

#textarea-system-info,
#textarea-logs-console,
#textarea-logs-terminal,
#textarea-behaviour-desired,
#textarea-behaviour-actual,
#textarea-steps-to-reproduce {
    height: 135px;
}

#textarea-generated-post {
    height: 255px;
}


/* multiple choice select element and textarea */  
.uk-select[multiple], .uk-select[size], .uk-textarea {
    border: 1px solid #dbdbdb;
    border-radius: 5px;
}

/* paragraphs */

p.page-title {
    margin: 20px 0px 20px 0px;
    font-size: 24px;
    background-color: rgb(0 0 0);
    padding: 20px;
    border-radius: 5px;
    color: #eee;
}

p.docs_section_header {
    background: #eaeaea;
    padding: 5px 15px;
    border-radius: 0px;
}

p.question-pane-title {
    background: #525252;
    padding: 5px 10px;
    color: #fff;
}

/* labels */

.post-helper-form-label {
    margin-bottom: 0px;
    font-weight: 500;
    font-size: 24px;
    color: #000;
    background: #eaeaea;
    padding: 5px 15px;
    border-radius: 5px;
    border: 1px solid #8f8f8f;
}

.helper-text {
    display: block;
    margin: 10px 5px 10px 0px;
}


/* code */

:not(pre)>code, :not(pre)>kbd, :not(pre)>samp {
    background-color: #eee;
    padding: 2px 4px;
    border-radius: 4px;
    color: #888;
}


/* links */

.page-description a,
.answer-paragraph a,
.helper-text a,
.triage-helper-related-topic,
a#how-does-qa-work,
ul.test-search-terms a {
    text-decoration: underline;
}

a#how-does-qa-work {
    margin-left: 20px;
    text-transform: lowercase;
    font-size: 14px;
    color: #333;
}

/* switcher tabs */

.uk-switcher > * {
    margin-top: 25px;
}

.uk-tab li a {
    border: 1px solid #000 !important;
    background: #fff;
    border-radius: 3px 3px 0px 0px;
    text-transform: none;
    color: #000;
}

.uk-tab li.uk-active a {
    border: 1px solid #000 !important;
    background: #eaeaea;
    border-radius: 3px 3px 0px 0px;
    text-transform: none;
}


.uk-tab>* {
    flex: none;
    padding-left: 10px;
    position: relative;
}

.uk-tab>*:first-child {
    padding-left: 20px;
}


.uk-tab::before {
    border-bottom: 1px solid #000000 !important;
}


div#question_pane {
    background: #eee;
    padding: 20px;
    border: 1px solid #333;
    height: 500px;
}

/* inputs */

input#question-search {
    border: 1px solid #333;
    margin-bottom: 20px;
}

input#query-input {
    border: 1px solid #333;
}

/* buttons */

#button_generate_forum_post_text {
    border-radius: 5px;
}

#button_copy_to_clipboard {
    margin: 20px 30px 0px 0px;
    border-radius: 5px;
}

/* checkboxes */

.uk-checkbox:checked, .uk-checkbox:indeterminate, .uk-radio:checked {
    background-color: #464646 !important;
}

#topic-category-label-bug-report {
    margin-right: 20px;
}

/* lists */

.question-list-item {
    color: #000;
    list-style: none;
    font-size: 14px;
    cursor: pointer;
    border-bottom: 1px solid #dddddd;
    padding: 20px 15px !important;
}

ul#question-list {
    padding-left: 0px !important;
}



/* notifications */

.uk-notification-message {
    border: 1px solid #000;
    display: block !important;
    border-radius: 5px;
    color: #000 !important;
    text-align: center;
}

.uk-close {
    color: #000;
}


/* triage helper table */

/* th, td {
    border-right: 1px solid #222;
} */

td {
    font-size: 14px;
}

tr.triage-helper-table-header {
    background-color: #5f5f5f;
}

tr.triage-helper-table-header th {
    color: #fff !important;
}

th.triage-helper-column-category {
    width: 125px;
}

th.triage-helper-column-summary {
    width: 250px;
}

th.triage-helper-column-operating-system {
    width: 130px;
}

th.triage-helper-column-occurrence {
    width: 100px;
}

th.triage-helper-column-status {
    width: 100px;
}

th.triage-helper-column-priority {
    width: 100px;
}

th.triage-helper-column-interface {
    width: 130px;
}

th.triage-helper-column-models {
    width: 160px;
}

th.triage-helper-column-symbols {
    width: 160px;
}

th.triage-helper-column-submission {
    width: 130px;
}

th.triage-helper-column-related-topics {
    width: 130px;
}

/* ensure the table can exceed the width of its container */
#triage-helper-table {
    width: max-content;
    min-width: 100%;
}

#triage-helper-table-container {
    border: 1px solid #000;
    height: 495px;
    max-height: 495px;
}

span.triage-helper-status {
    padding: 3px 10px;
    border-radius: 3px;
    border: 1px solid;
    text-transform: lowercase;
}

span.triage-helper-status-received {
    background: lightgrey;
    border-color: #333;
    color: #333;
}

span.triage-helper-status-acknowledged {
    background: #fff4c1;
    border-color: #de8f00;
    color: #de8f00;
}

span.triage-helper-status-fixed {
    background: #c1ffc1;
    border-color: green;
    color: green;
}


span.triage-helper-priority {
    padding: 3px 10px;
    border-radius: 3px;
    border: 1px solid;
    text-transform: lowercase;
}

span.triage-helper-priority-pending {
    background: lightgrey;
    border-color: #333;
    color: #333;
}

span.triage-helper-priority-normal {
    background: #c1ffc1;
    border-color: green;
    color: green;
}

span.triage-helper-priority-high {
    background: #ffc1c1;
    border-color: red;
    color: red;
}

/* media player */

.media-player {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background: #eee;
    height: 461px;
  }

  .video-container {
      width: 70%;
      box-sizing: border-box;
  }

  .playlist-container {
      width: 30%;
      padding: 10px;
      box-sizing: border-box;
      height: 100%;
  }

  /* remove fixed height for the video player container */
  #video-player-container {
    width: 100%;
    position: relative; /* ensure absolute children are positioned correctly */
    height: 461px; 
  }

  /* make the video and iframe fill the container */
  #video-player-container video,
  #video-player-container iframe {
    width: 100%;
    height: 100%;
    position: absolute; /* ensure the elements fill the container */
    top: 0;
    left: 0
  }

  /* explicitly set the height of the video.js player */
  .video-js {
    height: 100% !important;
  }

  .playlist-items {
    display: flex;
    flex-direction: column;
    gap: 5px; 
    overflow-y: scroll;
    height: calc(100% - 82px);
    padding: 0px 10px 0px 0px;
  }

/* BEGIN media player scrollbar */

/* For WebKit browsers (Chrome, Edge, Safari) */
.playlist-items::-webkit-scrollbar {
width: 12px;
}

.playlist-items::-webkit-scrollbar-track {
background: #d2d2d2;
}

.playlist-items::-webkit-scrollbar-thumb {
background-color: #6b6b6b;
border-radius: 6px;
border: 3px solid #f1f1f1;
}

.playlist-items::-webkit-scrollbar-thumb:hover {
background-color: #555;
}

/* For Firefox */
.playlist-items {
scrollbar-color: #6b6b6b #d2d2d2;
/*scrollbar-width: thin;*/
}

/* END media player scrollbar */

  .playlist-item {
    cursor: pointer;
    background-color: #f8f8f8;
    padding: 10px 20px;
    border: 1px solid #e1e1e1;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
  }

  .playlist-item:hover {
    background-color: #f3f3f3;
  }

  .playlist-item img {
    width: 60px;
    height: 40px;
    object-fit: cover;
    margin-right: 15px;
  }

  .playlist-item div {
    font-size: 14px;
    color: #333;
  }

  select#playlist {
      margin-bottom: 20px;
      border-radius: 5px;
      font-size: 14px !important;
      color: #666 !important;
  }

  p.playlist-video-item-title-line-1, 
  p.playlist-video-item-title-line-2,
  p.playlist-video-item-duration {
    margin: 0px;
    color: #666 !important;
    font-size: 14px !important;
  }

  /* structure */

  div#answer-container {
    /* background: #111; */
    height: 1000px;
    overflow-y: scroll;
    border: 1px solid #333;
    /* padding: 15px; */
}

div#question-container {
    background: #ffffff;
    height: calc(100% - 75px);
    overflow-y: auto;
    border: 1px solid #333;
}

  div#qa_pane {
    padding-right: 20px;
  }
  
  